* {
  box-sizing: border-box;
}

body {
  background: #fff;
  padding: 40px 20px;
}

.calendar-wrapper {
  margin: auto;
  position: relative;
  width: 720px;
}

.calendar {
  background: #ececec;
  border-left: 1px solid #d6d6d6;
  box-sizing: border-box;
  height: 720px;
  margin-left: 100px;
  position: relative;
  width: 620px;
}

.timeline {
  left: 0;
  list-style: none;
  margin: -15px 0 0;
  padding-right: 10px;
  position: absolute;
  text-align: right;
  width: 100px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.timeline li {
  color: #a7a7a7;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
}

.timeline li:nth-child(odd) {
  color: #676767;
}

.card {
  background: #fff;
  border: 1px solid #d5d5d5;
  position: absolute;
  width: 600px;
}

.card::before {
  background: #4b6ea9;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
  z-index: 10;
}

.card h2 {
  color: #4b6ea9;
  font-size: 16px;
  font-weight: 500;
  line-height: 8px;
  margin: 10px 10px;
}

.card h3 {
  color: #797979;
  font-size: 12px;
  font-weight: 400;
  line-height: 8px;
  margin: 0 10px;
}

